<h1>Categories</h1>
<div id="categories">
    <ul class="categories-list">
        {{#each categories}}
            <li class="category"> <!-- TODO: make appearance -->
                {{this.title}}
                <img src="{{this.img_url}}">
            </li>
        {{/each}}
    </ul>
</div>

{{!-- <script type="text/javascript" src="../javascript/index.js"></script> --}}